.Home_container {

    margin: 0 auto;
    }
.DemoPageHome {
     margin: 0 auto;
        height: 500px;
        margin: 0 auto;
        display: flex;
        background-color: rgb(240, 248, 252);
    }